# This is free and unencumbered software released into the public domain.

[Desktop Entry]
Categories=Development;IDE
Comment=A cross-platform .NET IDE
Exec=/usr/bin/distrobox enter --name default -- /opt/rider/bin/rider.sh
Icon=rider
Name=JetBrains Rider
StartupNotify=true
StartupWMClass=jetbrains-rider
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
